Solution/Solution B/livres.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT livres (livre*)>
<!ELEMENT livre (titre, auteur+, annee, prix)>
<!ATTLIST livre edition CDATA #REQUIRED>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT auteur (prenom, nom, laboratoire?, pays)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT prenom (#PCDATA)>
<!ELEMENT annee (#PCDATA)>
<!ELEMENT laboratoire (#PCDATA) >
<!ELEMENT prix EMPTY>
<!ATTLIST prix
monnaie CDATA #REQUIRED valeur CDATA #REQUIRED>
<!ELEMENT pays (#PCDATA)>
